<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
    <header>
        <nav th:replace="fragments/navbar :: navbar"></nav>
    </header>
    <div class="container mt-6 pt-6">
        <div th:replace="fragments/adminbtns :: adminbtns"></div>
        <div class="text-center">
            <div class="btn-group">
                <a class="btn" th:classappend="${active == 'active' ? 'btn-primary active' : 'btn-outline-primary'}" th:href="@{/admin/clients/1?active=true}">Activos</a></button>
                <a  class="btn" th:classappend="${active == 'inactive' ? 'btn-primary active' : 'btn-outline-primary'}" th:href="@{/admin/clients/1?active=false}">Inactivos</a></button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>País</th>
                    <th>Provincia</th>
                    <th colspan="2" class="text-center">Cambiar role</th>
                    <th>Desactivar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="client : ${clients}">
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.country}"></td>
                    <td th:text="${client.province}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/admin/role/moderator/'+${client.id}+'/clients?currentpage=' + ${currentPage}}">Moderador</a></td>
                    <td><a class="btn btn-primary" th:href="@{'/admin/role/admin/'+${client.id}+'/clients?currentpage=' + ${currentPage}}">Adminstrador</a></td>
                    <td>
                        <a class="btn btn-danger"  th:href="@{'/admin/clients/delete?clientId='+${client.id}+'&'+'currentpage='+${currentPage}}">Dar de Baja</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/admin/clients/' + ${i} + '?active=true}">[[${i}]]</a>
                        <a th:unless="${currentPage != i}">[[${i}]]</a>
                </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/clients/' + ${currentPage + 1}+ '?active=true}}">Siguiente</a>
                    <span th:unless="${currentPage < totalPages}">Siguiente</span>
                </div>
            </div>
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/js/search.js"></script>
        <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>