<div th:fragment="adminbtns" xmlns:th="http://www.w3.org/1999/xhtml">

        <button type="button" class="btn btn-primary"><a class="text-light" th:href="@{/admin/dashboard}">Clientes</a></button>

        <button type="button" class="btn btn-primary"><a  class="text-light" th:href="@{/admin/suppliers}">Proveedores</a></button>

        <button type="button" class="btn btn-primary"><a  class="text-light" th:href="@{/admin/moderators}">Moderadores</a></button>

        <button type="button" class="btn btn-primary"><a  class="text-light" th:href="@{/admin/admins}">Administradores</a></button>

        <button type="button" class="btn btn-primary"><a  class="text-light" th:href="@{/admin/categories}">Categorias</a></button>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">Buscar por</button>
</div>
