
<footer th:fragment="footer" class="text-center text-muted">
  <link th:href="@{/css/footer.css}" rel="stylesheet" />

  <p id="changing-color-text">
    &copy; A Tu Servicio - <span id="fecha-hora"></span>
    <!-- <a href="contacto.html">Contacto</a> -->
    <div class="redes-sociales">
      <a class="icono-instagram" href="https://www.instagram.com/atuservicioteam" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
      <a class="icono-facebook" href="https://www.facebook.com/people/Atuservicio/61553224941936/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
      <a class="icono-email" href="mailto:atuservicioteam@gmail.com"><i class="far fa-envelope"></i> Correo Electrónico</a>
    </div>
    
  </p>
</footer>

