<footer th:fragment="footer" class="text-muted">
  <link th:href="@{/css/footer.css}" rel="stylesheet" />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="redes-sociales">
          <a
            class="icono-instagram"
            href="https://www.instagram.com/atuservicioteam"
            target="_blank"
            ><i class="fab fa-instagram"></i> Instagram</a
          >
          <a
            class="icono-facebook"
            href="https://www.facebook.com/people/Atuservicio/61553224941936/"
            target="_blank"
            ><i class="fab fa-facebook"></i> Facebook</a
          >
          <a class="icono-email" href="mailto:atuservicioteam@gmail.com"
            ><i class="far fa-envelope"></i> Correo Electrónico</a
          >
        </div>
      </div>
      <div class="col-md-6">
        <p id="changing-color-text" class="text-right">
          &copy; A Tu Servicio - <span id="fecha-hora"></span>
        </p>
      </div>
    </div>
  </div>
  <script th:src="@{/js/footer.js}"></script>
</footer>
