<footer
  th:fragment="footer"
  class="footer mt-auto py-3 bg-dark text-white fixed-bottom">
  <link th:href="@{/css/footer.css}" rel="stylesheet" />

  <div class="container">
    <span class="text-body-secondary"
      ><div class="row">
        <div class="col-md-6">
          <div class="redes-sociales">
            <a
              class="icono-instagram"
              href="https://www.instagram.com/atuservicioteam"
              target="_blank"
              ><i
                class="fab fa-instagram"
                style="
                  color: white;
                  font-size: 24px;
                  margin-left: 5px;
                  margin-top: 5px;
                  margin-right: 5px;
                "></i
            ></a>
            <a
              class="icono-facebook"
              href="https://www.facebook.com/people/Atuservicio/61553224941936/"
              target="_blank"
              ><i
                class="fab fa-facebook"
                style="
                  color: white;
                  font-size: 24px;
                  margin-left: 5px;
                  margin-top: 5px;
                  margin-right: 5px;
                "></i
            ></a>
            <a class="icono-email" href="mailto:atuservicioteam@gmail.com"
              ><i
                class="far fa-envelope"
                style="
                  color: white;
                  font-size: 24px;
                  margin-left: 5px;
                  margin-top: 5px;
                  margin-right: 5px;
                "></i
            ></a>
          </div>
        </div>
        <div class="col-md-6">
          <p
            id="changing-color-text"
            class="text-right"
            style="
              color: white;
              font-size: 15px;
              margin-left: 5px;
              margin-top: 5px;
              margin-right: 5px;
            ">
            &copy; A Tu Servicio -
            <span
              id="fecha-hora"
              style="
                color: white;
                font-size: 15px;
                margin-left: 5px;
                margin-top: 5px;
                margin-right: 5px;
              "></span>
          </p>
        </div></div
    ></span>
  </div>
  <script th:src="@{/js/footer.js}"></script>
  <script src="/js/search.js/"></script> 
</footer>
