<header class="bg-primary-subtle mb-3" th:fragment="header" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/services}">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/supplier}">Proveedores</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/search}">Consulta</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/client/register}">Regístrate Cliente</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/provider/register}">Regístrate Proveedor</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>