<div class="container" th:fragment="navbar">
  <div class="container" th:fragment="navbar">
    <div class="header">
      <header>
        <div class="logo-animado-container">
          <img src="/img/logo.webp" alt="" class="logo-header" />
          <div class="texto-animado">
            <div class="home animado">
              <h3 id="resizing-h3" class="">
                <span>
                  <div class="stage">
                    <div class="cubespinner">
                      <div class="face1">Innovative</div>
                      <div class="face2">Creative</div>
                      <div class="face3">Unbeatable</div>
                      <div class="face4">Exceptional</div>
                    </div>
                  </div>
                </span>
              </h3>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
