<div th:fragment="request_detail" class="container text-center ">
  <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
  <form th:action="@{/contract/send/{idSupplier}(idSupplier=${supplier.id})}" method="POST">

  <div class="row align-items-center">
    <div class="col">
      <div data-aos="fade-down" class="card rounded-card shadow-lg p-3 card-color"
        style="width: 18rem; overflow: hidden">
        <!-- Contenedor para la imagen redonda -->
        <div class="rounded-img-container">
          <img th:src="@{/image/{imageId}(imageId=${supplier.image})}" class="card-img-top " alt="Imagen Redonda" />
        </div>

        <div class="card-body">
          <h5 th:text="${supplier.name}" class="card-title"></h5>
          <p th:text="${supplier.email}" class="card-text">

          </p>
          <p class="fs-2 fw-semibold" th:text="${supplier.category.name}"></p>
          <p class="fs-2 fw-semibold"th:text="'$ ' +${service.priceHour} + ' /hora'"></p>
          <div class="row">
            <div class="col"><i class="fa-solid fa-location-dot"></i>
          <p th:text="${supplier.city} + ' ' + ${supplier.province}" class="card-text"></p>
        </div>
        </div>  
          <!-- calificaciones -->
          <div class="rating">
            <!-- La calificación se redondea y se convierte en un entero para determinar cuántas estrellas llenar -->
            <!-- <th:block th:each="star : ${#numbers.sequence(1, calificacion)}">
              <span>☆</span>
            </th:block> -->
          </div>
        </div>
      </div>
    </div>
    <!-- comentario -->
    <div class="col">
      <div data-aos="fade-down" class="card rounded-card shadow-lg p-3 card-color"
        style="width: 25rem; overflow: hidden">
        <!-- Contenedor para la imagen redonda -->
        

        <div class="card-body">
          <h5 >Detalle del trabajo a realizar</h5>
          <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea>
          <!-- calificaciones -->
          <!-- <p th:text="${supplier.comments.score}" class="card-text">
           
          </p>  -->

          <!-- La calificación se redondea y se convierte en un entero para determinar cuántas estrellas llenar -->
          <!-- <th:block th:each="star : ${#numbers.sequence(1, calificacion)}">
              <span>☆</span>
            </th:block> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div data-aos="fade-left" class="card rounded-card shadow-lg p-3 card-color" style="width: 18rem; overflow: hidden">
        <!-- Contenedor para la imagen redonda -->
  
  
        <div class="card-body ">
          
          <a th:href="@{/contract/form/__${supplier.id}__}"><button class="btn btn-outline-light w-30 py-2"
              type="submit">Enviar solicitud</button></a>
          <!-- calificaciones -->
        </form>
          <div class="rating">
  
            <!-- La calificación se redondea y se convierte en un entero para determinar cuántas estrellas llenar -->
            <!-- <th:block th:each="star : ${#numbers.sequence(1, calificacion)}">
                <span>☆</span>
              </th:block> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- comentario -->
  
  <!-- comentario -->
</div>
<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script> -->

