<div
  th:fragment="request_detail"
  style="margin-bottom: 120px"
  class="container text-center">
  <form
    th:action="@{/contract/send/{idSupplier}(idSupplier=${supplier.id})}"
    method="POST">
    <div class="row align-items-center">
      <!-- Sección de la foto y datos del proveedor -->
      <div class="col-md-6">
        <div class="">
          <div class="">
            <img
              style="
                border-radius: 50px;
                height: 150px;
                width: auto;
                margin-bottom: 10px;
              "
              th:src="@{/image/{imageId}(imageId=${supplier.image})}"
              alt="Imagen Redonda" />
          </div>
          <div class="supplier-info" style="color: white; margin: 5px">
            <h5 th:text="${supplier.name}"></h5>
            <p th:text="${supplier.email}"></p>
            <p class="fs-2 fw-semibold" th:text="${supplier.category.name}"></p>
            <p
              class="fs-2 fw-semibold"
              th:text="'$ ' + ${service.priceHour} + ' /hora'"></p>
            <div class="row">
              <div class="col">
                <i class="fa-solid fa-location-dot"></i>
                <p th:text="${supplier.city} + ' ' + ${supplier.province}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sección de precio y contratación -->
      <div style="margin-top: 45px" class="col-md-6">
        <div class="pricing-and-contract">
          <h5 style="color: white; font-size: 30px; margin: 5px">
            Detalle del trabajo a realizar
          </h5>
          <textarea
            style="
              border-radius: 25px;
              color: white;
              background-color: #b29cb8;
              font-style: oblique;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;
            "
            name="description"
            cols="30"
            rows="10"
            class="form-control"></textarea>
          <a th:href="@{/contract/form/__${supplier.id}__}">
            <button
              class="mt-2 btn btn-outline-light w-30 py-2"
              type="submit"
              style="margin-top: 10px">
              Enviar solicitud
            </button>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
