<div th:fragment="work_detail" class="container text-center">
  <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

  <div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col fw-bold" style="font-size: 20px">
        <div class="p-3">
          <div class="d-flex flex-column align-items-start">
            <div
              class="rounded-img-container"
              style="width: 170px; height: auto; border-radius: 50px">
              <img
                th:src="@{/image/{imageId}(imageId=${supplier.image})}"
                class="card-img-top"
                alt="Imagen Redonda" />
            </div>

            <div class="text-start text-white">
              <h3 th:text="${supplier.name}" class=""></h3>
              <p th:text="${supplier.email}" class=""></p>
              <p
                th:text="${supplier.address} + ' ' + ${supplier.address_number}"
                class=""></p>
              <p
                th:text="${supplier.city} + ' ' + ${supplier.province}"
                class=""></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="p-3">
          <!-- datos profecionales -->
          <div>
            <img
              th:src="@{/image/{imageId}(imageId=${supplier.imageCard})}"
              class="card-img-top mt-4"
              alt="Imagen Redonda"
              style="width: 170px; height: auto; border-radius: 50px" />
          </div>

          <div class="card-body text-white">
            <h5 th:text="${supplier.category.name}" class="card-title"></h5>
            <p class="card-text" th:text="${service.description}"></p>
            <h5 class="card-title">Precio x hora</h5>
            <h3 th:text="'$ '+${service.priceHour}" class="h-4"></h3>
          </div>
          <div>
            <a th:href="@{/contract/form/__${supplier.id}__}"
              ><button class="btn btn-outline-light w-30 py-2" type="submit">
                Contactar
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script> -->
