@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  min-height: 100%;
  padding-bottom: 60px; /* Ajusta esto según la altura de tu footer */
  box-sizing: border-box;
}

footer {
  background-color: #edb83d;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
}

/* Estilo para el cambio de color del texto en el footer */
#changing-color-text {
  animation: changeColor 6s infinite;
}

/* Estilo para el enlace "Contacto" en el footer */
footer a {
  text-decoration: none; /* Elimina el subrayado */
  font-weight: bold; /* Texto en negrita */
  color: #000000; /* Cambio de color al pasar el mouse */
}

/* Animación de cambio de color */
@keyframes changeColor {
  0% {
    color: #000b29; /* Color 1 */
  }
  50% {
    color: #d70026; /* Color 2 */
  }
  100% {
    color: #000b29; /* Color 3 */
  }
}

/* Estilos para el pie de página fijo */
.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
}
