@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

}

.img-navbar{
width: 50px;
margin-left: 35px;
  

}

.boton-registrar-nabvar {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-size: 16px; /* Ajusta el tamaño del botón según tus necesidades */
}

.card-login {
  width: 350px;
  height: auto;
  margin-left: 120px;
  margin-top: 28px;
  display: flex; /* Convierte el contenedor en un contenedor flexible */
  flex-direction: column; /* Alinea los elementos en columna (verticalmente) */
  justify-content: center; /* Alinea verticalmente en el centro */
  align-items: center; /* Alinea horizontalmente en el centro */
}

.color-nabvar{
  background-color: #edb83d;

  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;


}