/* Tu archivo de estilos CSS personalizado */

.boton-buscar {
  background-color: #edb83d; /* Color de fondo */
  border: 1px solid #fff; /* Bordes con un destello */
  color: #fff; /* Color del texto */
  transition: background-color 0.2s, color 0.2s; /* Transición de colores */
}

.boton-buscar:hover {
  background-color: #ffc107; /* Cambio de color al pasar el mouse */
  color: #000; /* Cambio de color del texto */
}

.boton-buscar:active {
  background-color: #333; /* Cambio de color al hacer clic */
}
/* Estilo de tabla con tonalidades de color amarillo */
.yellow-table {
  background-color: #fff3cd; /* Fondo amarillo claro */
}

.yellow-table th {
  background-color: #edb83d; /* Fondo amarillo más oscuro para encabezados */
  color: #fff; /* Color del texto en encabezados */
}

.yellow-table tr:nth-child(even) {
  background-color: #ffecb3; /* Fondo amarillo claro para filas pares */
}

.yellow-table tr:nth-child(odd) {
  background-color: #ffeb9f; /* Fondo amarillo más oscuro para filas impares */
}

/* Estilo para celdas */
.yellow-table td {
  color: #333; /* Color del texto en celdas */
}
