
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>
<body>
<div class="container">
    <h1>Lista de Usuarios</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Provincia</th>
            <th>País</th>
             <th>Usuario activo</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="client : ${clients}">
            <td th:text="${client.name}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.address}"></td>
            <td th:text="${client.city}"></td>
            <td th:text="${client.province}"></td>
            <td th:text="${client.country}"></td>
            <td th:text="${client.active}"></td>
            <td>
                <a th:href="@{/admin/clients/edit?clientId={clientId}(clientId=${client.id})}">Editar</a>
            </td>
            <td>
                <div th:unless="${client.active}">
                    <a th:href="@{/admin/clients/activate?clientId={clientId}(clientId=${client.id})}">Dar de alta</a>
                </div>
                <div th:if="${client.active}">
                <a th:href="@{/admin/clients/delete?clientId={clientId}(clientId=${client.id})}">Dar de Baja</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>