<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="mb-0 pb-0">
  <nav th:replace="fragments/navbar :: navbar"></nav>
</header>
<h1>Lista de comentarios</h1>
<div th:each="comment : ${comments}">
<form>
  <input type="number" name="score" th:value="${comment.score}" readonly>
  <label for="commentario">comentario</label>
    text
  <textarea id="commentario" th:text="${comment.content}" readonly></textarea>
</form>
</div>
<form th:action="@{'/contract/comments/supplier/response/' + ${contractId}}" method="post">
  <label for="puntuacion"></label>
  <input type="number" value="0" id="puntuacion" name="score">
  <label for="comment">comentario</label>
  <textarea id="comment" name="content"></textarea>
  <input type="submit" value="enviar">
</form>
</body>
</html>