<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
  <nav th:replace="fragments/navbar :: navbar"></nav>
  <div class="py-6 wwihd text-center fondo-seccion">
    <h1 class="p-3 titulo-hero display-5 fw-bold lh-1 mb-3"> Lista de comentarios</h1>
    <div class="container mt-3 mb-5">
      <div th:each="comment : ${comments}">
        <label>Comentario de: </label>
        <span th:text="${comment.author.name}" style="color:aliceblue" class="title">Comentario de: </span>


        <div class="p-1">
          <textarea id="commentario" name="content" th:text="${comment.content}" cols="20" rows="10"
            class="form-control" style="
            border-radius: 25px;
            color: white;
            background-color: #b29cb8;
            font-style: oblique;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          " readonly></textarea>
        </div>


      </div>
    </div>
  </div>
  <footer th:replace="fragments/footer :: footer" class="fixed-footer">
</body>

</html>