<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>

    <body>

        <nav th:replace="fragments/navbar :: navbar"></nav>

        <section class="py-6 wwihd text-center fondo-seccion">

            <h1 class="p-3 titulo-hero display-5 fw-bold lh-1 mb-3">Lista de comentarios</h1>
            <div th:each="comment : ${comments}">
                <form>
                    <label for="puntuacion">puntuacion</label>
                    <div class="p-1">
                        <input type="number" name="score" th:value="${comment.score}" readonly>
                        <div class="p-1">
                            <label for="commentario">comentario</label>
                            <div class="p-1">
                                <textarea id="commentario" th:text="${comment.content}" readonly></textarea>
                                </form>
                            </div>
                            <div class="container mt-3">
                                <form th:action="@{'/contract/comments/supplier/response/' + ${contractId}}" method="post">
                                    <label for="puntuacion">puntuacion</label>
                                    <div class="p-1">
                                        <input type="number" value="0" id="puntuacion" name="score" required>
                                        <div class="p-1">
                                            <label for="comment">comentario</label>
                                            <div class="p-1">
                                                <textarea id="comment" name="content" placeholder= "Escribe tu comentario aquí" required></textarea>
                                                <div class="p-1">
                                                    <input type="submit" value="enviar">
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>

            <footer
                th:replace="fragments/footer :: footer"
                class="fixed-footer">

                </body>

                </html>