<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>

    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <section class="py-6 wwihd text-center fondo-seccion">

            <div id="contract">
                <h2>Contrato de Servicios</h2>

                <p>Entre:</p>
                <p><strong th:text="${user.name}"> Proveedor th:text="${user.name}"</strong></p>
                <p><strong  th:text="${user.address}"> Dirección del Proveedor</strong></p>
                <p><strong th:text="${user.email}">Información de contacto del Proveedor</strong></p>

                <p>En adelante denominado "Proveedor"</p>

                <p>Y</p>

                <p><strong th:text="${user.name}">Nombre del Cliente</strong></p>
                <p><strong  th:text="${user.address}">Dirección del Cliente</strong></p>
                <p><strong th:text="${user.email}>Información de contacto del Cliente</strong></p>

                           <p>En adelante denominado "Cliente"</p>

                        <h3>1. OBJETO DEL CONTRATO</h3>
                        <p>El Cliente contrata al Proveedor para la prestación de los siguientes servicios:</p>
                        <p><strong th:text="${user.desciption} >[Descripción detallada de los servicios]</strong></p>

                                   <h3>2. FECHA DE INICIO Y DURACIÓN</h3>
                                   <p>El presente contrato entrará en vigencia a partir del <strong> th: text="${user.createdAt} </strong> y tendrá una duración segun <strong>lo dispuesto en la descripciòn supra aludido </strong>, a menos que se rescinda de acuerdo con las cláusulas establecidas en este contrato.</p>

                        <h3>3. CONDICIONES DE PAGO</h3>
                        <p>A cambio de los servicios prestados, el Cliente acuerda pagar al Proveedor la suma <strong>convenida en Precio / Hora</strong> en <strong>Pesos Argentinos</strong></p>


                        <h3>4. OBLIGACIONES DEL PROVEEDOR</h3>
                        <p>El Proveedor se compromete a:</p>
                        <ul>
                            <li>Prestar los servicios de manera profesional y competente.</li>
                            <li>Cumplir con los plazos acordados.</li>
                            <li>Proporcionar informes periódicos sobre el progreso de los servicios.</li>
                        </ul>

                        <h3>5. OBLIGACIONES DEL CLIENTE</h3>
                        <p>El Cliente se compromete a:</p>
                        <ul>
                            <li>Proporcionar al Proveedor la información y recursos necesarios para la prestación de los servicios.</li>
                            <li>Cumplir con los pagos según lo estipulado en la cláusula 3.</li>
                        </ul>

                        <h3>6. CONFIDENCIALIDAD</h3>
                        <p>Ambas partes acuerdan mantener la confidencialidad de cualquier información confidencial revelada durante la prestación de los servicios.</p>

                        <h3>7. TERMINACIÓN DEL CONTRATO</h3>
                        <p>Cualquiera de las partes puede rescindir este contrato por escrito si la otra parte incumple de manera sustancial sus obligaciones y no remedia dicho incumplimiento.</p>

                        <h3>8. LEY APLICABLE</h3>
                        <p>Este contrato se regirá e interpretará de acuerdo con las leyes de <strong>Argentina</strong></p>

                        <h3>Términos y Condiciones</h3>
                        <p>1. El cliente acepta...</p>
                        <p>2. El proveedor se compromete...</p>

                        <label id="accept-label">
                            <input type="checkbox" id="accept-checkbox"> Acepto los términos y condiciones
                        </label>

                        <button id="submit-btn" onclick="validarFormulario()">Enviar</button>
            </div>

            <script>
                function validarFormulario() {
                    var checkbox = document.getElementById("accept-checkbox");

                    if (!checkbox.checked) {
                        alert("Debes aceptar los términos y condiciones antes de enviar el formulario.");
                    } else {
                        // Aquí puedes enviar el formulario o realizar otras acciones necesarias.
                        alert("Formulario enviado correctamente.");
                    }
                }
            </script>

            <footer
                th:replace="fragments/footer :: footer"
                class="fixed-footer">

                </body>

                </html>
