<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"></head>
  <body>
    <header>
      <nav th:replace="fragments/navbar :: navbar"></nav>
    </header>
    <div class="container">
      <div class="left-div">
        <!-- Contenido del div izquierdo -->
        <div
          id="carouselExampleInterval"
          class="carousel slide carousel-retoque"
          data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                th:src="@{/img/imagenes_index/albaniles-en-caba.jpeg}"
                class="d-block w-100"
                alt="..." />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                th:src="@{/img/imagenes_index/electricista.jpeg}"
                class="d-block w-100"
                alt="..." />
            </div>
            <div class="carousel-item">
              <img
                th:src="@{/img/imagenes_index/gasista.jpeg}"
                class="d-block w-100"
                alt="..." />
            </div>
            <div class="carousel-item">
              <img
                th:src="@{/img/imagenes_index/jardinero.jpeg}"
                class="d-block w-100"
                alt="..." />
            </div>
            <div class="carousel-item">
              <img
                th:src="@{/img/imagenes_index/plomero.jpeg}"
                class="d-block w-100"
                alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="right-div">
        <!-- <div class="marquee-container">
          <div class="marquee-content">
              <p>Texto 1: Lorem ipsum dolor sit amet</p>
          </div>
          <div class="marquee-content">
              <p>Texto 2: Consectetur adipiscing elit</p>
          </div>
          <div class="marquee-content">
              <p>Texto 3: Sed do eiusmod tempor incididunt</p>
          </div>
          <div class="marquee-content">
              <p>Texto 4: Labore et dolore magna aliqua</p>
          </div> -->
      </div>
    </div>

    <!-- Agregado el cierre de la etiqueta div -->
    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
