<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"></head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>

<div th:if="${error != null}">
    <h3 th:text="${error}"></h3>
</div>

<form
        th:action="@{/admin/category/create}"
        method="POST"
        enctype="multipart/form-data"
        class="formulario-registro"
>
    <div class="col-md-6">
        <div class="form-group">

            <div class="file-up">
                <div class="file is-medium has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="image" id="image">
                        <span class="file-cta">
                    <span class="file-icon color-fondo-boton ">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label ">
                      Cargar
                    </span>
                  </span>
                        <span class="file-name color-fondo-boton ">
                    Imagen predefinida
                  </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Nombre:</label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
            />
        </div>
    </div>

    <button type="submit" class="boton-sesion-registro">Crear</button>
</form>

<footer
        th:replace="fragments/footer :: footer"
        class="fixed-footer"
></footer>
</body>
</html>
