<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!--NavBar-->
        <header>
            <nav th:replace="fragments/navbar :: navbar"></nav>
        </header>
        
        <div class="container">
            <h1>Lista de solicitudes enviadas</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fecha de la solicitud</th>
                        <th scope="col">Rubro del proveedor</th>
                        <th scope="col">Nombre del proveedor</th>
                        <th scope="col">Email del proveedor</th>
                        <th scope="col">Descripción del servicio</th>
                        <th scope="col">Estado de la solicitud</th>
                    </tr>
                </thead>
                
                <tbody class="table-group-divider">
                    <tr th:each="request : ${requests}">
                        <td th:text="${request.createdAt}"></td>
                        <td th:text="${request.supplier.category.name}"></td>
                        <td th:text="${request.supplier.name}"></td>
                        <td th:text="${request.supplier.email}"></td>
                        <td th:text="${request.description}"></td>
                        <td th:text="${request.state}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!--Footer-->
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
