<!DOCTYPE html>
<html>
    <head th:replace="fragments/head :: head"></head>
    <body>
        <header>
            <nav th:replace="fragments/navbar :: navbar"></nav>
        </header>
        
        <form th:action="@{/request/send/ee0e8d52-6635-48e7-a6c8-6f212f984cc7}" method="POST">
            <input type="text" name="description">
            <button type="submit">Enviar solicitud</button>
        </form>

        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
