<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!--NavBar-->
        <header>
            <nav th:replace="fragments/navbar :: navbar"></nav>
        </header>

        <div class="container-fluid" >
            <form class="form-group"
                  th:action="@{/request/send/{idSupplier}(idSupplier=${supplier.id})}"
                  method="POST">
              
                <h1>Información del cliente</h1>
                <div class="row row-cols-4 px-5"> 
                <div>
                    <img th:src="@{/image/{imageId}(imageId=${user.image})}">
                   
                </div>
             
                <div>
                    <p th:text="${user.name}" ></p>
                
                    <p th:text="${user.email}" ></p>
              
                    <p th:text="${user.country}" ></p>
                    <p th:text="${user.province}" ></p>
                    <p th:text="${user.city}" ></p>
                    <p th:text="${user.address}" ></p>
                    <p th:text="${user.address_number}" ></p>
                </div>
            </div>
            <div >    
                <h1>Información del proveedor</h1>
                <div class="row row-cols-4 px-5">      
                <div>
                    <img th:src="@{/image/{imageId}(imageId=${supplier.imageCard})}">
                </div>
                <div>
                <p th:text="${supplier.name}" ></p>
                
                <p th:text="${supplier.email}" ></p>
          
                <p th:text="${supplier.country}" ></p>
                <p th:text="${supplier.province}" ></p>
                <p th:text="${supplier.city}" ></p>
                <p th:text="${supplier.address}" ></p>
                <p th:text="${supplier.address_number}" ></p>
                <p th:text="${supplier.category.name}" ></p>
                <p th:text="'$/H ' +${service.priceHour}" ></p>
            </div>
                <!--Descripción del servicio-->
                <div>
                    <p>Ingrese una descripción del trabajo que necesita</p>
                    <textarea name="description"></textarea>
                </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary mt-3" >Enviar solicitud</button>
            </div>
            </form>
        </div>

        <!--Footer-->
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
