<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    class="fondo-seccion">
    <head th:replace="fragments/head :: head"></head>

    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div
            style="
            margin-bottom: 290px;
            margin-left: 0px;
            margin-right: 50pxpx;
            padding: 10px;

            ">
            <class= "container text-center fs-6">
                <div class="row g-2">
                    <!--STATE: PENDING_APPROVAL-->
                    <div class="col-6">
                        <div
                            class="  p-3 mt-5"
                            style="background-color: transparent; color: white;
                            position: absolute;">
                            <h4>Solicitudes pendientes</h4>
                            <button class="btn btn-outline-light" onclick="togglePendingApprovalList()">Mostrar/ocultar lista de solicitudes pendientes</button>

                            <div id="pendingApprovalContractList" style="display: none;">
                                <table class="table table-striped" style="background-color: transparent; font-size: 10px">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Nombre</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Email</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Fecha</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Dirección</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Descripción</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Estado</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Aprobar</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Rechazar</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr th:each="contract : ${contracts}" th:if="${contract.state.name() == 'PENDING_APPROVAL'}">
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.createdAt}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.customer.name}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.customer.email}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.customer.address}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.description}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.state}"></td>
                                            <!--Aprobar-->
                                            <td>
                                                <form th:action="@{/contract/supplier/accept/__${contract.id}__}">
                                                    <label>Tiempo estimado en horas</label>
                                                    <input type="number" value="0" name="estimatedTime" />
                                                    <input type="submit" value="Cotizar" class="btn btn-success" /><!--ContractController: linea 120--><!--Lo setea a APPROVED_SUPPLIER-->
                                                </form>
                                            </td>
                                            <!--Rechazar-->
                                            <td>
                                                <a
                                                    class="btn btn-danger"
                                                    th:href="@{/contract/supplier/decline/__${contract.id}__}">
                                                    Rechazar  <!--ContractController: linea 141--><!--Lo setea a REFUSED_SUPPLIER-->
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--STATE: CANCELED_CLIENT-->
                    <div style="z-index:2;" class="col-6">
                        <div
                            class="  p-3 mt-5"
                            style="background-color: transparent">
                            <h4  style="color: white;" >Solicitudes canceladas por el cliente</h4>
                            <button class="btn btn-outline-light"  onclick="toggleCanceledList()">Mostrar/ocultar lista de solicitudes canceladas</button>

                            <div id="canceledContractList" style="display: none;">
                                <table class="table table-hover" style="font-size: 10px">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Fecha</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Nombre</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Email</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Dirección</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Descripción</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Estado</th>
                                            <th style="background-color: #c0aaca; color: white" class="fs-6" scope="col">Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr th:each="contract : ${contracts}" th:if="${contract.state.name() == 'CANCELED_CLIENT'}">
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.createdAt}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.customer.name}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.customer.email}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.customer.address}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.description}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:text="${contract.state}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:if="${contract.hasComment}">
                                                <button>
                                                    <a th:href="@{'/contract/comments/supplier/' + ${contract.id}}">Ver</a>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--STATE: APPROVED_SUPPLIER-->
                    <div style="z-index:2;" class="col-6">
                        <div
                            class="  p-3 mt-5"
                            style="background-color: transparent">
                            <h4 style="color: white;"  >Solicitudas aprobadas por el proveedor (APPROVED_SUPPLIER)</h4>
                            <button class="btn btn-outline-light" onclick="toggleList()">Mostrar/ocultar lista de solicitudes aprobadas</button>
                            <div id="contractList" style="display: none;">
                                <table class="table table-bordered" style="font-size: 10px">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Fecha</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Nombre</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Email</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Dirección</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Descripción</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr th:each="contract : ${contracts}" th:if="${contract.state.name() == 'APPROVED_SUPPLIER'}">
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.createdAt}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.name}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.email}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.address}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.description}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.state}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--STATE: REFUSED_SUPPLIER-->
                    <div style="z-index:2;" class="col-6">
                        <div
                            class="  p-3 mt-5"
                            style="background-color: transparent">
                            <h4 style="color: white;"  >Solicitudas rechazadas por el proveedor (REFUSED_SUPPLIER)</h4>
                            <button class="btn btn-outline-light" onclick="toggleList()">Mostrar/ocultar lista</button>

                            <div id="contractList" style="display: none;">
                                <table class="table table-bordered" style="font-size: 10px">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Fecha</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Nombre</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Email</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Dirección</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Descripción</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Estado</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr th:each="contract : ${contracts}" th:if="${contract.state.name() == 'REFUSED_SUPPLIER'}">
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.createdAt}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.name}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.email}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.address}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.description}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.state}"></td>
                                            <td style="background-color: #c0aaca; color: white" class="fs-6" th:if="${contract.hasComment}">
                                                <button>
                                                    <a th:href="@{'/contract/comments/supplier/' + ${contract.id}}">Ver</a>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--STATE: PENDING_COMPLETION-->
                    <div style="z-index:2;" class="col-6">
                        <div
                            class="  p-3 mt-5"
                            style="background-color: transparent">
                            <h4 style="color: white;"  >Tareas en proceso</h4>
                            <button class="btn btn-outline-light" onclick="toggleList()">Mostrar/ocultar lista de tareas en proceso</button>

                            <div id="contractList" style="display: none;">
                                <table class="table table-bordered" style="font-size: 10px">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Fecha</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Nombre</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Email</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Dirección</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Descripción</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Estado</th>
                                            <th style="background-color: #c0aaca; color: white;" class="shadow-none fs-6" scope="col">Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr th:each="contract : ${contracts}" th:if="${contract.state.name() == 'PENDING_COMPLETION'}">
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.createdAt}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.name}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.email}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.customer.address}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.description}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" th:text="${contract.state}"></td>
                                            <td>
                                                <a
                                                    class="btn btn-danger"
                                                    th:href="@{/contract/supplier/decline/__${contract.id}__}">
                                                    Termine mi trabajo  <!--ContractController: linea 212--><!--Lo setea a DONE_SUPPLIER-->
                                                </a>
                                            </td>                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--STATE: REFUSED_CLIENT-->
                    <div style="z-index:2;" class="col-6">
                        <div
                            class="  p-3 mt-5"
                            style="background-color: transparent">
                            <h4 style="color: white;" >Solicitudes rechazadas por el cliente (por cotización o por disconformidad)</h4>
                            <button class="btn btn-outline-light" onclick="toggleRefusedList()">Mostrar/ocultar lista de solicitudes rechazadas</button>

                            <div id="refusedContractList" style="display: none;">
                                <table class="table table-hover" style="font-size: 10px">
                                    <thead style="background-color: transparent" class="thead-dark">
                                        <tr>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Nombre</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Email</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Dirección</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Fecha</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Descripción</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Estado</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr th:each="contract : ${contracts}" th:if="${contract.state.name() == 'REFUSED_CLIENT'}">
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.createdAt}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.name}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.email}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.address}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.description}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.state}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:if="${contract.hasComment}">
                                                <button>
                                                    <a th:href="@{'/contract/comments/supplier/' + ${contract.id}}">Ver</a>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--STATE: DONE_CLIENT-->
                    <div style="z-index:2;" class="col-6">
                        <div
                            class="  p-3 mt-5"
                            style="background-color: transparent">
                            <h4 style="color: white;" >Tareas finalizadas de forma óptima</h4>
                            <button class="btn btn-outline-light" onclick="toggleRefusedList()">Mostrar/ocultar lista de tareas finalizadas</button>

                            <div id="refusedContractList" style="display: none;">
                                <table class="table table-hover" style="font-size: 10px">
                                    <thead style="background-color: transparent" class="thead-dark">
                                        <tr>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Nombre</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Email</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Dirección</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Fecha</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Descripción</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Estado</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr th:each="contract : ${contracts}" th:if="${contract.state.name() == 'DONE_CLIENT'}">
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.createdAt}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.name}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.email}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.address}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.description}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.state}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:if="${contract.hasComment}">
                                                <button>
                                                    <a th:href="@{'/contract/comments/supplier/' + ${contract.id}}">Ver</a>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--STATE: DONE_SUPPLIER-->
                    <div style="z-index:2;" class="col-6">
                        <div
                            class="  p-3 mt-5"
                            style="background-color: transparent">
                            <h4 style="color: white;" >Tareas finalizadas de forma óptima</h4>
                            <button class="btn btn-outline-light" onclick="toggleRefusedList()">Mostrar/ocultar lista de tareas finalizadas</button>

                            <div id="refusedContractList" style="display: none;">
                                <table class="table table-hover" style="font-size: 10px">
                                    <thead style="background-color: transparent" class="thead-dark">
                                        <tr>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Nombre</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Email</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Dirección</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Fecha</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Descripción</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Estado</th>
                                            <th style="background-color: #c0aaca; color: white;" class="fs-6 shadow-none" scope="col">Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr th:each="contract : ${contracts}" th:if="${contract.state.name() == 'DONE_SUPPLIER'}">
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.createdAt}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.name}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.email}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.customer.address}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.description}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:text="${contract.state}"></td>
                                            <td style="background-color: #c0aaca; color: white;" class="fs-6" th:if="${contract.hasComment}">
                                                <button>
                                                    <a th:href="@{'/contract/comments/supplier/' + ${contract.id}}">Ver</a>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <script>
            function toggleList() {
            var contractList = document.getElementById("contractList");
            if (contractList.style.display === "none") {
            contractList.style.display = "block";
            } else {
            contractList.style.display = "none";
            }
            }
        </script>
        <script>
            function toggleCanceledList() {
            var canceledContractList = document.getElementById("canceledContractList");
            if (canceledContractList.style.display === "none") {
            canceledContractList.style.display = "block";
            } else {
            canceledContractList.style.display = "none";
            }
            }
        </script>
        <script>
            function toggleRefusedList() {
            var refusedContractList = document.getElementById("refusedContractList");
            if (refusedContractList.style.display === "none") {
            refusedContractList.style.display = "block";
            } else {
            refusedContractList.style.display = "none";
            }
            }
        </script>
        <script>
            function togglePendingApprovalList() {
            var pendingApprovalContractList = document.getElementById("pendingApprovalContractList");
            if (pendingApprovalContractList.style.display === "none") {
            pendingApprovalContractList.style.display = "block";
            } else {
            pendingApprovalContractList.style.display = "none";
            }
            }
        </script>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
