<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<nav th:replace="fragments/navbar :: navbar"></nav>

<body>
  <div class="container contenedor-modal">
    <button class="btn btn-primary boton-buscar" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
      Buscar proveedores
    </button>

    <div class="offcanvas offcanvas-start titulo-frame-proveedores" data-bs-backdrop="static" tabindex="-1"
      id="staticBackdrop" aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title titulo-frame-proveedores" id="staticBackdropLabel">
          Búsqueda de Proveedores
        </h5>
        <button type="button" class="btn-close cerrar" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <h1 class="mb-4"></h1>
          <form th:action="@{/supplier/services}" method="post" class="">
            <div class="input-group mb-4">
              <h3>Por ubicación</h3>
              <br />
              <div class="col-md-4 w-100">
                <label for="country" class="form-label">País:</label>
                <select type="text" class="form-select fondo" id="country" name="country">
                  <option>Argentina</option>
                </select>
              </div>
              <div class="col-md-4 w-100">
                <label for="province" class="form-label">Provincia:</label>
                <select class="form-control fondo" id="province" name="province"></select>
              </div>
              <div class="col-md-4 w-100">
                <label for="city" class="form-label">Localidad:</label>
                <select class="form-control fondo" id="city" name="city"></select>
              </div>
              <div class="col-md-4 w-100">
                <label for="city" class="form-label">Por rubro/categoria</label>
                <select class="form-control fondo" id="category" name="category">
                  <option value="">Seleccione un rubro...</option>
                  <option value="" th:each="category : ${categories}" th:text="${category.name}"
                    th:value="${category.id}"></option>
                </select>
              </div>
            </div>


            <div class="input-group ">

              <h3>Por email</h3>
              <div class="col-md-4 w-100">
                <!-- <label for="city" class="form-label">Email:</label> -->
                <br />
                <input class="form-control fondo" id="email" name="email" placeholder="email@email.com" />
              </div>
            </div>


            <div class="col-12 mt-3">
              <img th:src="@{/img/logo.webp}" alt="logo" class="img-modal" />

              <button type="submit" style="float: right" class="btn btn-primary btn-custom boton-buscar">
                Buscar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">




    <div th:if="${error != null}" class="card text-white bg-warning mb-3 mensajeError mt-5">
      <div class="card-body">
        <h5 class="card-title" th:text="${error}"></h5>
      </div>
    </div>

    <section id="servicios" class="py-5 fondo-seccion text-center">
        <h1 class="display-4  titulo-experiencia-usuario">Servicios</h1>
        <div th:replace="fragments/services-card:: services-card"></div>
    </section>
    <!-- <div class="row row-cols-4 px-5 card-group">
      <div th:if="${locationFound}" class="col mt-5" th:each="user : ${users}">
        <div class="card h-100">
          <img th:src="@{/image/{imageCard}(imageCard=${user.imageCard})}" class="card-img-top" alt="Servicio" />
          <div class="card-body">
            <h5 class="card-title text-truncate" th:text="${user.name}">
              Nombre
            </h5>
            <p id="fondo" class="card-text text-truncate" th:text="${user.category.name}">
              Categoria
            </p>
            <form class="d-flex justify-content-center" sec:authorize="isAuthenticated()"
              th:action="@{'/supplier/workPreview/' + ${user.id}}">
              <button class="boton-card-detail boton-ver-mas">
                Ver mas...
              </button>
            </form>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <i class="bi bi-geo-fill" th:text="${user.province}"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->




</body>
<footer th:replace="fragments/footer :: footer"></footer>



</html>