<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <link th:href="@{/css/services.css}" rel="stylesheet" />
  <head th:replace="fragments/head :: head">
    <title>Mi Perfil</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>

  <body
    style="
      background-image: url('/img/hero.jpg');

      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(
        255,
        255,
        255,
        0.8
      ); /* Set transparency using rgba values */
      z-index: -1;
    ">
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div style="margin-top: 65px" class="profile">
      <div class="row">
        <div
          th:if="${updated != null}"
          class="card text-white bg-success mb-3 mensajeExito">
          <div class="card-body">
            <h5 class="card-title">Éxito!</h5>
            <p class="card-text" th:text="${updated}"></p>
          </div>
        </div>
      </div>

      <div style="margin-top: 5px" class="container mt-5">
        <div class="profile card">
          <h1
            class="card-header"
            style="background-color: #b29cb8; color: rgb(255, 255, 255)">
            <strong class="mx-4">Perfil de: </strong>
            <span th:text="${ user.name}"></span>
          </h1>

          <div style="background-color: #b29cb8" class="container text-center">
            <div class="row g-2">
              <div class="col-6">
                <div class="p-3">
                  <div
                    style="background-color: #d1c0d8; color: white"
                    class="card-body text-start">
                    <h5 class="card-title">
                      <strong>Nombre:</strong>
                      <span th:text="${user.name}"></span>
                    </h5>
                    <p class="card-text">
                      <strong>Correo Electrónico:</strong>
                      <span th:text="${user.email}"></span>
                    </p>
                    <p class="card-text">
                      <strong>Dirección:</strong>
                      <span th:text="${user.address}"></span>
                    </p>
                    <p class="card-text">
                      <strong>País:</strong>
                      <span th:text="${user.country}"></span>
                    </p>
                    <p class="card-text">
                      <strong>Provincia:</strong>
                      <span th:text="${user.province}"></span>
                    </p>
                    <p class="card-text">
                      <strong>Ciudad:</strong>
                      <span th:text="${user.city}"></span>
                    </p>
                    <p class="card-text">
                      <strong>Código Postal:</strong>
                      <span th:text="${user.postal_code}"></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="p-3">
                  <img
                    style="border-radius: 50px"
                    th:src="@{/image/{imageId}(imageId=${user.image})}"
                    alt="" />
                  <form
                    class="d-flex justify-content-center"
                    th:action="@{/editUser}"
                    th:object="${user}"
                    method="get">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <button class="btn btn-outline-light m-4" type="submit">
                      Editar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <form
          class="d-flex justify-content-center"
          th:action="@{/supplier/convert/__${user.id}__}"
          method="POST">
          <button
            style="height: 45px"
            class="btn btn-outline-light m-4"
            type="submit">
            Cambiar a Proveedor
          </button>
          <div class="form-group">
            <label style="color: white" for="rubro">Selecciona un rubro:</label>
            <select
              style="color: white"
              class="form-control"
              id="rubro"
              name="CategoryId">
              <option
                th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"></option>
            </select>
            <label style="color: white" for="email"
              >CAMBIA DIRECION DE EMAIL</label
            >
            <input
              style="
                background-color: #d1c0d8;
                color: white;
                margin-bottom: 50px;
                border-radius: 15px;
              "
              type="email"
              id="email"
              name="email"
              th:value="${user.email}" />
          </div>
        </form>

        <div th:if="${errors != null}">
          <div th:each="error : ${errors}">
            <div th:if="${error.name == 'categoryId'}">
              <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                  <p class="card-text" th:text="${error.nameMsg}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <footer th:replace="fragments/footer :: footer"></footer>
    </footer>
  </body>
</html>
