<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
    <title>Mi Perfil</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
       <nav th:replace="fragments/navbar :: navbar"></nav>
    </header>
    <div class="profile">
        <h1>Mi Perfil</h1>
        <img src="ruta-a-tu-imagen-de-perfil.jpg" alt="Mi Foto de Perfil">
       <div class="profile">
           
        <h1>Mi Perfil</h1>
        
        <div class="container mt-5">
        <div class="profile card">
          <h1 class="card-header" style="background-color:#EDB83D ; color: black;">Mi Perfil</h1>

            <div class="card-body">
                
                
                <h5 class="card-title"><strong>Nombre:</strong> <span th:text="${user.name}"></span></h5>
                <p class="card-text"><strong>Correo Electrónico:</strong> <span th:text="${user.email}"></span></p>
                <p class="card-text"><strong>Dirección:</strong> <span th:text="${user.address}"></span></p>
                <p class="card-text"><strong>País:</strong> <span th:text="${user.country}"></span></p>
                <p class="card-text"><strong>Provincia:</strong> <span th:text="${user.province}"></span></p>
                <p class="card-text"><strong>Ciudad:</strong> <span th:text="${user.city}"></span></p>
                <p class="card-text"><strong>Código Postal:</strong> <span th:text="${user.postal_code}"></span></p>
            </div>
        </div>
    </div>
        
        <div style="text-align: center;">
            <h5>Editar mi Perfil</h5>
            <a th:href="@{/editarUser?id={userId}(userId=${user.id})}">Editar</a>
        </div>

    </div>
    <footer>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer th:replace="fragments/footer :: footer"></footer>
    </footer>

    </body>
</html>
