<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>
<link th:href="@{/css/comment.css}" rel="stylesheet" />


<body>
  <header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
  </header>

  <!-- Contentedor principal -->
  <div class="container-general fondo-seccion mt-5">

    <div class="container text-center ">
      <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
      <form th:action="@{/#}" method="POST">
    
      <div class="row align-items-center">
        <div class="col">
          <div data-aos="fade-down" class="card rounded-card shadow-lg p-3 card-color"
            style="width: 18rem; overflow: hidden">
            <!-- Contenedor para la imagen redonda -->
            <div class="rounded-img-container">
              <img th:src="@{/image/{imageId}(imageId=${supplier.imageCard})}" class="card-img-top " alt="Imagen Redonda" />
            </div>
    
            <div class="card-body">
              <h5 th:text="${supplier.name}" class="card-title"></h5>
              <p th:text="${supplier.email}" class="card-text">
    
              </p>
              <p class="fs-2 fw-semibold" th:text="${supplier.category.name}"></p>
              <p class="fs-2 fw-semibold"th:text="'$ ' +${supplier.priceHour} + ' /hora'"></p>
              <div class="row">
                <div class="col"><i class="fa-solid fa-location-dot"></i>
              <p th:text="${supplier.city} + ' ' + ${supplier.province}" class="card-text"></p>
            </div>
            </div>  
              <!-- calificaciones -->
              <div class="rating">
                <!-- La calificación se redondea y se convierte en un entero para determinar cuántas estrellas llenar -->
                <!-- <th:block th:each="star : ${#numbers.sequence(1, calificacion)}">
                  <span>☆</span>
                </th:block> -->
              </div>
            </div>
          </div>
        </div>
        <!-- comentario -->
        <div class="col">
          <div data-aos="fade-down" class="card rounded-card shadow-lg p-3 card-color"
            style="width: 25rem; overflow: hidden">
            <!-- Contenedor para la imagen redonda -->
            
    
            <div class="card-body">
              <h5 >Detalle del trabajo a realizar</h5>
              <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea>
              <!-- calificaciones -->
              <!-- <p th:text="${supplier.comments.score}" class="card-text">
               
              </p>  -->
    
              <!-- La calificación se redondea y se convierte en un entero para determinar cuántas estrellas llenar -->
              <!-- <th:block th:each="star : ${#numbers.sequence(1, calificacion)}">
                  <span>☆</span>
                </th:block> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div data-aos="fade-left" class="card rounded-card shadow-lg p-3 card-color" style="width: 18rem; overflow: hidden">
            <!-- Contenedor para la imagen redonda -->
      
      
            <div class="card-body ">
              
              <a th:href="@{/contract/form/__${supplier.id}__}"><button class="btn btn-outline-light w-30 py-2"
                  type="submit">Modificar datos</button></a>
              <!-- calificaciones -->
            </form>
              <div class="rating">
      
                <!-- La calificación se redondea y se convierte en un entero para determinar cuántas estrellas llenar -->
                <!-- <th:block th:each="star : ${#numbers.sequence(1, calificacion)}">
                    <span>☆</span>
                  </th:block> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- comentario -->
      
      <!-- comentario -->
    </div>

  </div>

  <!-- <div class="container-fluid color">
      <div
        id="myCarousel"
        class="carousel carousel-static slide color"
        data-ride="carousel">
        <div
          class="carousel-inner color"
          th:each="image, imageStart : ${service.imageGallery}">
          <div
            th:attr="class=${imageStart.index == 0 ? 'carousel-item active' : 'carousel-item'}">
            <img
              th:src="'/image/' + ${image}"
              class="d-block w-100 color"
              alt="Imagen 1" />
          </div>
        </div>
        <a
          class="carousel-control-prev color"
          href="#myCarousel"
          role="button"
          data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a
          class="carousel-control-next"
          href="#myCarousel"
          role="button"
          data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
    </div> -->

  <footer th:replace="fragments/footer :: footer"></footer>


</body>

</html>

<!-- <div class="container color text-center">
  <div class="row row-eq-height align-items-stretch">
    <div class="col">
      <div class="card">
        <img
        th:src="@{/image/{imageId}(imageId=${supplier.imageCard})}"
          class="card-img-top color img-responsive"
          alt="sin tarjeta de presentacion" />
        <div class="card-body color">
          <h5 th:text="${supplier.name}" class="card-title color"></h5>
          <p th:text="${supplier.email}"class="card-text color"></p>
        </div>
      </div>
    </div>
    <div class="col color">
      <div class="card color" style="width: 18rem">
        <div class="card-body color">
          <h5 class="card-title color">Servicio</h5>

          <h1 th:text="${supplier.category.name}" >                  
          </h1>
          <p th:text="${service.description}" class="card-text color">
            
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container color">
        <div class="card color">
          <div class="card-body color">
            <p>Precio por hora:</p>
            <p th:text="${service.priceHour}" class="card-text color"></p>
          </div>
          <div class="card color">
            <div class="card-body color">
             
            </div>
            <div class="color">
              <a th:href="@{/supplier/workEdit}" class="btn botones"
                >Modificar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->