<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<head>
    <title>Servicios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>

<form th:action="@{/supplier/workEdit}" method="POST" enctype="multipart/form-data"
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion</label>
        <textarea class="form-control" id="descripcion" name="description" th:text="${service.description}"></textarea>
    </div>
    <div class="mb-3">
        <label for="tarifa" class="form-label">Tarifa</label>
        <input type="text" class="form-control" id="tarifa" name="priceHour" th:text="${service.priceHour}">
    </div>
    <div class="mb-3">
        <label for="file-input" class="form-label">Multiple files input example</label>
        <input class="form-control" type="file" id="file-input" accept="image/jpeg" name="images" onchange="preview()"  multiple>
        <div id="images"></div>

    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
</form>
<script th:src="@{/js/imgpreview.js}"></script>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
<link th:href="@{/css/services.css}" rel="stylesheet" />
</html>
