<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<link th:href="@{/css/work_edit.css}" rel="stylesheet" />
<body>
<header>
  <nav th:replace="fragments/navbar :: navbar"></nav>
</header>
<div th:if="${error != null}">
  <h2 th:text="${error}"></h2>
</div>
<div class="contenedor-general">
  <main  class="d-flex justify-content-center w-75">
<form th:action="@{/supplier/workEdit}" method="POST" enctype="multipart/form-data" class="w-100">
  <div class="row">
  <div class="col-md-10 mb-3">
    <label for="descripcion" class="form-label descripcion">
      <i class="fa-regular fa-comment"></i> Descripcion
    </label>
    <textarea
            class="form-control"
            id="descripcion"
            name="description"
            th:text="${service.description}"></textarea>
  </div>
  </div>
  <div class="col-md-2 mb-2">
    <label for="tarifa" class="form-label tarifa">
      <i class="fa-solid fa-dollar-sign"></i> Precio
    </label>
    <input
            type="text"
            class="form-control input-tarifa"
            id="tarifa"
            name="priceHour"
            th:value="${service.priceHour}" />
  </div>
  <div class="contenedor-sube-fotos">
    <img th:src="@{/img/sube-fotos.png}" alt="logo" class="img-sube" />
  </div>
  <div class="row">
    <div class="col-md-12 mb-10">

    <label for="file-input" class="form-label btn botones">Examinar...</label>
      <p id="num-of-files" class="fs-4">Imagenes nuevas</p>
      </div>
    </div>
    <input class="form-control" type="file" id="file-input" accept="image/jpeg" name="images" onchange="preview()"  multiple style="display: none;">
    <div id="images" class="container d-flex flex-row"></div>
  <p id="num-of-files" class="fs-4">Imagenes existentes</p>
  <div class="container d-flex flex-row">
      <div th:each="image : ${service.imageGallery}">
        <div class="card" style="width: 18rem;">
          <img th:src="@{'/image/' + ${image}}"  class="card-img-top" alt="">
          <label class="card-body">
            <input type="checkbox" name="delete" th:value="${image}">
            Eliminar
          </label>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn botones">Editar</button>
    </div>
  </div>
</form>
  </main>
</div>
<script th:src="@{/js/imgpreview.js}"></script>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
<link th:href="@{/css/services.css}" rel="stylesheet" />
</html>
