<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments/head :: head"></head>
 
  <body>
  <div class="contenedor-general">
      <nav th:replace="fragments/navbar :: navbar"></nav>


    <!-- Contentedor principañ -->

 

<section class="py-5 text-center fondo-seccion">
  <h1 th:text="'Hola, soy ' + ${supplier.name}" style="font-family: 'PT Sans Narrow', sans-serif; color: transparent; font-size: 30px; display: inline-block; animation: fadeInOut 4s infinite;"></h1>
  <div th:replace="fragments/work_detail :: work_detail"></div>

</section>
    <div class="container-fluid color">
      <div
        id="myCarousel"
        class="carousel carousel-static slide color"
        data-ride="carousel">
        <div
          class="carousel-inner color"
          th:each="image, imageStart : ${service.imageGallery}">
          <div
            th:attr="class=${imageStart.index == 0 ? 'carousel-item active' : 'carousel-item'}">
            <img
              th:src="'/image/' + ${image}"
              class="d-block w-100 color"
              alt="Imagen 1" />
          </div>
        </div>
        <a
          class="carousel-control-prev color"
          href="#myCarousel"
          role="button"
          data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a
          class="carousel-control-next"
          href="#myCarousel"
          role="button"
          data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
    </div>
  </div>  
    <footer th:replace="fragments/footer :: footer"></footer>

  </body>
</html>
